  html, body {
  background: white;
  padding: 0;
  margin: 0;
}

select#soflow {
   -webkit-appearance: button;
   -moz-appearance: button;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 5px;
   -moz-padding-end: 5px;
   -webkit-padding-start: 2px;
   -moz-padding-start: 2px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -webkit-background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 80%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: none;
   color: #555;
   font-size: 10px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 150px;
}

.w3-btn{
   box-shadow: none !important;
    padding: 2px 8px !important;
}

#slidecontainer {
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d; 
}
/*
.angledown{
   -moz-display:none;
}*/
  *:fullscreen
  *:-ms-fullscreen,
  *:-webkit-full-screen,
  *:-moz-full-screen {
     overflow: auto !important;
  }

  th, td {
    border: 0.1px solid #2d2d2d;
    padding: 10px;
}
#spl {
    border-spacing: 5px;
    border: 1px solid #d3d3d3;
    padding: 7px;   
}
.colortab{
cursor: pointer; 
}

.w3-colormodal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 10px;
    top: 0;
    overflow: auto;
    background-color: transparent;
    background-color: transparent;
}
.w3-colormodal-content {
    margin: auto;
    background-color: #dddddd;
    position: relative;
    padding: 0;
    outline: 0;
    width: 190px;
    resize: both;
}

.w3-colormodal-content-1 {
    margin: auto;
    background-color: #dddddd;
    position: relative;
    padding: 0;
    outline: 0;
    width: 200px;
    resize: both;
}