  html, body {
  background: white;
  padding: 0;
  margin: 0;
}

select#soflow {
   -webkit-appearance: button;
   -moz-appearance: button;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 5px;
   -moz-padding-end: 5px;
   -webkit-padding-start: 2px;
   -moz-padding-start: 2px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -webkit-background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 80%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: none;
   color: #555;
   font-size: 10px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 150px;
}

.w3-btn{
   box-shadow: none !important;
    padding: 2px 8px !important;
}

#slidecontainer {
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d; 
}
/*
.angledown{
   -moz-display:none;
}*/
  *:fullscreen
  *:-ms-fullscreen,
  *:-webkit-full-screen,
  *:-moz-full-screen {
     overflow: auto !important;
  }

  th, td {
    border: 0.1px solid #2d2d2d;
    padding: 10px;
}
#spl {
    border-spacing: 5px;
    border: 1px solid #d3d3d3;
    padding: 7px;   
}
.colortab{
cursor: pointer; 
}

.w3-colormodal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 10px;
    top: 0;
    overflow: auto;
    background-color: transparent;
    background-color: transparent;
}
.w3-colormodal-content {
    margin: auto;
    background-color: #dddddd;
    position: relative;
    padding: 0;
    outline: 0;
    width: 190px;
    resize: both;
}

.w3-colormodal-content-1 {
    margin: auto;
    background-color: #dddddd;
    position: relative;
    padding: 0;
    outline: 0;
    width: 200px;
    resize: both;
}

.w3-btn {
  position: relative;
}

.w3-btn .tooltiptext {
    visibility: hidden;
    width: 50px;
    font-size: 10px;
    background-color: #d3d3d3;
    color: #2d2d2d;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 85px;
    margin-left: -60px;
}

.w3-btn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #d3d3d3 transparent;
}

.w3-btn:hover .tooltiptext {
    visibility: visible;
}

.Topsidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
    overflow-y: hidden;
    transition: 0.5s;
}

.Topsidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    transition: 0.3s;
}

.Topsidenav a:hover {
    color: #f1f1f1;
}

.Topsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#Topmain {
    transition: margin-left .5s;
    position: absolute;
    right: 20px;
    margin-top:45px;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.w3-top {
  z-index: 0;
}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

